<div class="admin-main">
    <div id="school">
        <fieldset class="layui-elem-field">
            <legend>创建学院</legend>
            <div class="layui-field-box">
                <form class="layui-form">
                    {% csrf_token %}
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">学院名称：</label>
                            <div class="layui-input-inline">
                                <input name="name" placeholder="请输入学院名称" class="layui-input"
                                       lay-verify="university" v-model="universityName" autocomplete="off">
                            </div>
                            <button lay-filter="createSchool" class="layui-btn" lay-submit>创建</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
    </div>
</div>