{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统管理员</title>
    <link rel="stylesheet" href={% static "common/layui/css/layui.css" %}/>
    <link rel="stylesheet" href={% static "common/global.css" %}>
    <link rel="stylesheet" href={% static "common/font-awesome/css/font-awesome.min.css" %}>
    <script type="text/javascript" src={% static "common/axios.min.js" %}></script>
</head>
<body>
<div class="layui-layout layui-layout-admin" style="border-bottom: solid 5px #1AA094">
    <div class="layui-header header header-demo">
        <div class="layui-main">
            <div class="admin-login-box">
                <a class="logo" style="left: 0;">
                    <span style="font-size: 20px">JOIN IN</span>
                </a>
                <div class="admin-side-toggle">
                    <i class="fa fa-bars" style="margin-top: 8px" aria-hidden="true"></i>
                </div>
                <div class="admin-side-full">
                    <i class="fa fa-life-bouy" style="margin-top: 8px;" aria-hidden="true"></i>
                </div>
            </div>
            <ul class="layui-nav admin-header-item">
                <li class="layui-nav-item">
                    <a href="/user/logout" class="admin-header-user">
                        <span>注销</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-side layui-bg-black" id="admin-side">
        <div class="layui-side-scroll" id="admin-navbar-side" lay-filter="side"></div>
    </div>

    <div class="layui-body" style="bottom:0;border-left: solid 2px #1AA094" id="admin-body">
        <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
            <ul class="layui-tab-title">
                <li class="layui-this">
                    <i class="fa fa-dashboard" aria-hidden="true"></i>
                    <cite>控制面板</cite>
                </li>
            </ul>
            <div class="layui-tab-content" style="min-height: 150px;padding:5px 0 0 0;">
                <div class="layui-tab-item layui-show">
                    <iframe src=''></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-footer footer footer-demo" id="admin-footer">
        <div class="layui-main">
            <p>2017 JOININ</p>
        </div>
    </div>
    <div class="site-tr"></div>
</div>
<script type="text/javascript" src={% static "common/layui/layui.js" %}></script>
<script type="text/javascript" src={% static "navData/systemNav.js" %}></script>
<script type="text/javascript" src={% static "js/index.js" %}></script>
</body>
</html>